html {
  box-sizing: border-box;
  font-size: 3em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: whitesmoke;
}
.text{
  font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
letter-spacing: 2px;
word-spacing: 2px;
color: #4AA7FF;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
}
#app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#myGalleryContainer{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 160px 240px;
  background-color: aquamarine;
  width: 750px;
  height: 400px;
  /* grid-row-gap: 10px;
  grid-column-gap: 10px; */
}

.myGalleryElement{
  background-color: tomato;
}
#myGalleryElement1{
  background-image: url(https://picsum.photos/400/300?random=1);
}
#myGalleryElement2{
  background-image: url(https://picsum.photos/400/300?random=2);
}
#myGalleryElement3{
  grid-column: span 3;
  background-image: url(https://picsum.photos/400/300?random=3);
}
#myGalleryElement4{
  background-image: url(https://picsum.photos/400/300?random=4);
}
#myGalleryElement5{
  background-image: url(https://picsum.photos/400/300?random=5);
}
#myGalleryElement6{
  grid-column: span 2;
  background-image: url(https://picsum.photos/400/300?random=6);
}
#myGalleryElement7{
  grid-column: span 3;
  background-image: url(https://picsum.photos/400/300?random=7);
}
#myGalleryElement8{
  background-image: url(https://picsum.photos/400/300?random=8);
}
#myGalleryElement9{
  grid-column: span 3;
  background-image: url(https://picsum.photos/400/300?random=9);
}
#myGalleryElement10{
  grid-column: span 2;
  background-image: url(https://picsum.photos/400/300?random=10);
}