html {
  box-sizing: border-box;
  font-size: 3em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
}
.text{
  font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
letter-spacing: 2px;
word-spacing: 2px;
color: #4AA7FF;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
}
#app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#mysoatListContainer{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 400px;
}
#mySoatList{
  list-style: none;
/* background-color: chartreuse; */
  width: 1300px;
  height: 40px;
}

.mylistElement{
  /* background-color: #FFADA6; */
  border: solid 1px black;
  width: 100%;
  height: 100px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 0.4em;
}
/* #mylistElement1{
  background-color: #BEFFA8;

} */
#mysoatHeader{
  display: flex;
  justify-content: center;
  background-color: navy;
  width: 100%;
  height: 80px;
}

#myheaderText{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: whitesmoke;
  font-size: 0.5em;
}

#mylistElement-1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: azure;
  font-size: 0.6em;
  background-color: gray;
  height: 60px;
}

.mythElement{
  border: solid 1px black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: azure;
  font-size: 0.6em;
  background-color: gray;
  height: 60px;
}